*{margin: 0; padding: 0;}
.Contactstyle {
  width:100%;
  height: 525px;
  background: Green;
  color: White;
  display: inline-grid;
  justify-content: center;
  align-items: center;

}

.Contactstyle {
  align-items: center;
  justify-content: center;

}

.Homestyle{
  width:100%;
  height: 525px;
  background: #8E44AD;
  color: White;
  display: flex;
  justify-content: center;
  align-items: center;

}
